:root {
    --primary: #b3d0ec;
    --secondary: #85b597;
    --light-dark: #26384e;
    --dark: #080946;
    --border-radius: 10px;
}
  
  * {
    box-sizing: border-box;
  }
  
  
  .day p{
    font-size: .9rem;
  }
  
   .btn {
    font-size: 1.3rem;
    text-decoration:none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: var(--primary);
    background-color: var(--light-dark);
   
  }


  .websiteTitle {
    font-size: 3.5rem;
    background-color: var(--primary);
    color: var(--dark);
    padding: 5px 5px;
    display: inline-block;
    border-radius: var(--border-radius);
  }
  
  #weatherStatus img{
    margin: -35px 0;
  }
  
 
  
  
 